<mat-nav-list>
    <a mat-list-item class="closeMenu item-link">
        <mat-icon *ngIf="showFiller" class="material-icons" (click)="showFiller = false;showFillerChanged.emit(false)">menu</mat-icon>
        <mat-icon *ngIf="!showFiller" class="material-icons" (click)="showFiller = true;showFillerChanged.emit(true)">close</mat-icon>
    </a>

    <a mat-list-item class="item-link" [ngClass]="editMyProfile.isActive || manageMySoldTos.isActive || linkCustAssoc.isActive || eNotification.isActive || pushNotification.isActive ? 'mat-list-item-active' : 'mat-list-item-inactive'">
        <mat-icon>account_circle</mat-icon>
        <div class="text_NavMenu">
            <span class="nav-text">
            HI DHAVAL
            </span>
        </div>
        <i *ngIf="!showFiller" class="material-icons">keyboard_arrow_right</i>
        <ul class="submenuOnHover">
            <a [routerLinkActive]="['']" #editMyProfile="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-profile/editMyProfile">
                <li [ngClass]="editMyProfile.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Edit My Profile</li>
            </a>
            <a [routerLinkActive]="['']" #manageMySoldTos="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-profile/manageMySoldTos">
                <li [ngClass]="manageMySoldTos.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Manage My Sold Tos</li>
            </a>
            <a [routerLinkActive]="['']" #linkCustAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-profile/linkCustAssoc">
                <li [ngClass]="linkCustAssoc.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Link ID - Customer ID Association</li>
            </a>
            <a [routerLinkActive]="['']" #eNotification="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-profile/eNotification">
                <li [ngClass]="eNotification.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">E Notification</li>
            </a>
            <a [routerLinkActive]="['']" #pushNotification="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-profile/pushNotification">
                <li [ngClass]="pushNotification.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Push Notification</li>
            </a>
            <!-- <li>Manage My Sold Tos<i *ngIf="!showFiller" class="material-icons">keyboard_arrow_right</i>
                <ul class="childsubmenuOnHover">
                    <li>Manage My Sold Tos</li>
                    <li>Manage My Sold Tos</li>
                    <li>Manage My Sold Tos</li>
                </ul>
            </li> -->
        </ul>
    </a>

    <a mat-list-item class="item-link" [ngClass]="requestApproval.isActive || newUserRegistration.isActive ?'mat-list-item-active':'mat-list-item-inactive'">
        <mat-icon>supervised_user_circle</mat-icon>
        <div class="text_NavMenu"><span class="nav-text">
          User Management
          </span></div>
        <i *ngIf="!showFiller" class="material-icons">keyboard_arrow_right</i>
        <ul class="submenuOnHover">
            <a [routerLinkActive]="['']" #requestApproval="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-management/requestApproval">
                <li [ngClass]="requestApproval.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Approval Request</li>
            </a>
            <a [routerLinkActive]="['']" #newUserRegistration="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="user-management/newUserRegistration">
                <li [ngClass]="newUserRegistration.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Register New USer</li>
            </a>
        </ul>
    </a>

    <a mat-list-item class="item-link" [ngClass]="searchUsers.isActive || searchCompany.isActive ?'mat-list-item-active':'mat-list-item-inactive'">
        <mat-icon>search</mat-icon>
        <div class="text_NavMenu"><span class="nav-text">
          Search
          </span></div>
        <i *ngIf="!showFiller" class="material-icons">keyboard_arrow_right</i>
        <ul class="submenuOnHover">
            <a [routerLinkActive]="['']" #searchUsers="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="search/searchUsers">
                <li [ngClass]="searchUsers.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Users</li>
            </a>
            <a [routerLinkActive]="['']" #searchCompany="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="search/searchCompany">
                <li [ngClass]="searchCompany.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Companies</li>
            </a>
        </ul>
    </a>

    <a mat-list-item class="item-link" [ngClass]="soldtoUsersAssoc.isActive || soldtoLinkIdAssoc.isActive || soldToAssoc.isActive || soldToUsersTrans.isActive || soldToLinkIdTrans.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">
        <mat-icon>settings</mat-icon>
        <div class="text_NavMenu"><span class="nav-text">
          Tools
          </span></div>
        <i *ngIf="!showFiller" class="material-icons">keyboard_arrow_right</i>
        <ul class="submenuOnHover">
            <a [routerLinkActive]="['']" #soldtoUsersAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="tools/soldtoUsersAssoc">
                <li [ngClass]="soldtoUsersAssoc.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">SoldTo Users Association</li>
            </a>
            <a [routerLinkActive]="['']" #soldtoLinkIdAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="tools/soldtoLinkIdAssoc">
                <li [ngClass]="soldtoLinkIdAssoc.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">SoldTo Link ID Association</li>
            </a>
            <a [routerLinkActive]="['']" #soldToAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="tools/soldToAssoc">
                <li [ngClass]="soldToAssoc.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Delete SoldTo Association</li>
            </a>
            <a [routerLinkActive]="['']" #soldToUsersTrans="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="tools/soldToUsersTrans">
                <li [ngClass]="soldToUsersTrans.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Copy SoldTos - Users</li>
            </a>
            <a [routerLinkActive]="['']" #soldToLinkIdTrans="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="tools/soldToLinkIdTrans">
                <li [ngClass]="soldToLinkIdTrans.isActive ? 'mat-list-item-active':'mat-list-item-inactive'">Copy SoldTos - Link IDS</li>
            </a>
        </ul>
    </a>
</mat-nav-list>