
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.full-sidenav {
  width: 221px;
  // background-color: #808080 !important;
}

.mat-toolbar.mat-primary {
    background: #c71011 !important;
    color: #fff;
}


.nav-text {
    padding-left: 10px;
    color: #fff !important
}

.mat-list-item-active{
    background-color:  #c71011;
}
.mat-list-item-inactive{
    background-color:  #808080;
}

mat-sidenav{
   background-color:  #808080 !important;
}

.dotMenu{
  padding-left: 1400px;
}

.rightHeader{
    position: relative;
    /* right: 5px; */
    left: 92%;
}

ul.submenuOnHover li {
  list-style: none;
}
ul.submenuOnHover {
  position: absolute;
  z-index: 9999;
    /* left: 197px; */
    right: -200px;
    background: grey;
    margin-left: 0;
    padding-left: 0;
    // padding: 10px;
    width: 200px;
    top: 0px;
    display: none;
}
ul.submenuOnHover li {
  color: #fff;
  font-size: 12px;
  padding: 15px 22px;
  position: relative;
}
ul.submenuOnHover li>ul{
  position: absolute;
  z-index: 9999;
    /* left: 197px; */
    right: -200px;
    background: grey;
    margin-left: 0;
    padding-left: 0;
    padding: 0px;
    width: 200px;
    top: 0px;
  right: -200px;
  display: none;
}
ul.submenuOnHover li:hover ul.childsubmenuOnHover{
  display: block;
}
ul.submenuOnHover li i {
  position: absolute;
  right: 10px;
  top: 12.5px;
  font-size: 18px;
}
mat-sidenav.mat-drawer.mat-sidenav a:hover ul.submenuOnHover{
  display: block;
}