<ng-template #confModaltemplate>
    <app-idle-timeout-popup *ngIf="idleState" [message]="idleState"></app-idle-timeout-popup>
</ng-template>

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <app-header></app-header>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" autosize [hasBackdrop]="false">
        <mat-sidenav [ngClass]="{'full-sidenav': !showFiller }" #snav [mode]="mobileQuery.matches ? 'over' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="true">
            <app-sidebar (showFillerChanged)="showFillerChanged($event)" [showFiller]="showFiller"></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <!-- <mat-card>Simple card {{ showFiller }}</mat-card> -->
            <router-outlet></router-outlet>
            <app-footer class="footer-container footerExpandCollaps" [ngClass]="{'full-sidenavFooter': !showFiller }"></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <ng-flash-message></ng-flash-message> -->

    <app-loader></app-loader>
</div>