

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  flex: 0 0 36px;
  &.navbar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0px;
    // height:40px;
    height:60px;
    width:100%;
    // z-index:5;
    z-index: 99990;
    box-shadow: 0 6px 10px -1px rgba(68,68,68,.4);
    background: #da291c;
  }
  .nav{
  &.navbar-nav{
     flex-direction: row;
     color:#fff;
  }
  }
}

.app-footer {
  flex: 0 0 40px;
}

// Full layout is layout which has vertical menu

  .layoutContainer {
    
      .app-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-x: hidden;
       
        .main {
          flex: 1;
          min-width: 0;
          overflow: hidden;
          padding-bottom: 35px;
          background: #f7f7f7;
          min-height:600px;
          // margin-top:40px;
          margin-top:5px;
        }

        .sidebar {
          // flex: 0 0 260px;
          flex: 0 0 210px;
          order: -1;
          // margin-top:40px;
          margin-top:70px;
        }
      
    }

  }


.layoutContainer {
  footer {
    // position: fixed !important;
    width: 100% !important;
    bottom: 0 !important;
  }
}


//
// header
//
.header-fixed {
  .app-header {
    position: fixed;
    width: 100%;
   
  }

  .app-body {
    margin-top: 36px;
  }
}
//
// Sidebar
//
.sidebar-hidden {
  .sidebar {
    margin-left: - 260px;
  }
}

.sidebar-fixed {
  .sidebar {
    position: fixed;
    //width: 260px;
    width: 210px;
    height: calc(100vh - 36px);
    box-shadow: 0 6px 10px -1px rgba(68,68,68,.4);
    background-color : #808080 !important;
  }

  .main {
    // margin-left: 260px;
    margin-left: 210px;
    padding: 0 20px !important;
  }

  .app-footer{

    position: fixed;
    border: 0;
    width: 100%;
    background: #fff;
    bottom: 0;
    height: 40px;
    z-index: 2;
    box-shadow: 0 6px 10px -1px rgba(68,68,68,.4);
  }
  &.sidebar-hidden {
    .main, .app-footer {
      margin-left: 0;
    }
  }
  }

  .highcharts-container {
    width:100%;
  }

	.title{
		padding:10px;
  }
  
  .main-content {
    // padding-top:50px;
    padding-top:66px;
    margin-bottom: 20px;
  }

  .footer-container {
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #e4eaec;
    // padding: 20px;
    z-index: 109;
    font-size: .875rem;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 9px 91px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}