<mat-toolbar color="primary" class="example-toolbar">
    <a><img src="{{settings.getAssetsUrl()}}images/avaya-logo-white.svg"></a>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="rightHeader">
  <mat-icon>more_vert</mat-icon>
  <mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-name="name">
    <a routerLink="/user-profile/editMyProfile"><button mat-menu-item>Home</button></a>
    <button mat-menu-item>Log Out</button>
    <button mat-menu-item>Help</button>
    </ng-template>
    </mat-menu>
    </button>
</mat-toolbar>