<!-- 
<header class="app-header navbar">
  <div class="main-wrapper container-full">
    <div class="inner">
      <div class="av-logo">
        <div class="">
          <div class="logo"></div>
          <div class="image-container">
            <a [routerLink]="['/dashboard/']"><img src="{{settings.getAssetsUrl()}}images/avaya-logo-white.svg"></a>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div class="secondary-section">
        <div class="login">
          <div class="user-login" style="margin: 0px;">
            <div style="font-size: 12px;font-weight: bold;"> Welcome:
              {{user?.firstName}}
              <span>{{user?.lastName}}</span>
            </div>

            <img style="height: 15px; padding-right: 5px; border-radius: 0;" src="{{settings.getAssetsUrl()}}images/logout.png"><a
              style="color: #DA291C; font-size: 13px; font-weight: bold;" (click)="onLogout()">Logout</a>
          </div>
        </div>
        <div class="btn-logout" style="padding: 10px;">

        </div>

      </div>
    </div>
  </div>
</header> -->