// .btn_danger {
//     margin-right: 30px !important;
//     background: #fff;
//     border: 2px solid #DA291C;
//     color: #000;
//     border-radius: 0;
// }
.btn-secondary {
  margin-left: 10px;
  width: 80px;
  border: 2px solid #DA291C;
  background-color: white;
  padding: 3px 3px;
}

