/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

:root{
  font-family: 'Roboto', sans-serif !important;
}
body{
  font-size: 12px !important;
  line-height: 1 !important;
  font-family: 'Roboto', sans-serif !important;
}
mat-sidenav.mat-drawer.mat-sidenav {
  .mat-list-item-content{
    display: block !important;
  }
  .nav-text {
     padding-left: 0px; 
     top: 0px;
    position: relative;
    font-size: 10px;
  }
  .mat-list-item-content .mat-icon {
      position: relative;
      left: calc(50% - 10.5px);
  }
  .mat-list-item-content{
    padding: 2px 8px !important;
  }
  a.mat-list-item.mat-list-item-active, a.mat-list-item.mat-list-item-inactive {
    margin-bottom: 15px;
  }
  .text_NavMenu {
    width: 100%;
    text-align: center;
  }
  a.mat-list-item.closeMenu {
    position: relative;
    top: 6px;
  }
}


mat-sidenav.mat-drawer.mat-sidenav.full-sidenav {
  .mat-list-item-content{
    display: flex !important;
  }
  .nav-text {
    padding-left: 10px; 
    position: static;
    font-size: 16px;
 }
 .mat-list-item-content .mat-icon {
  position: static;
}
.mat-list-item-content{
  padding: 0px 16px !important;
}
a.mat-list-item.mat-list-item-active, a.mat-list-item.mat-list-item-inactive {
  margin-bottom: 0px;
}
a.mat-list-item.mat-list-item-active i, a.mat-list-item.mat-list-item-inactive i{
  color: #ffffff;
}
.text_NavMenu {
  width: 100%;
  text-align: left;
}
a.mat-list-item.closeMenu {
  position: static;
  margin-top: -5px;
}
}


a.mat-list-item.mat-list-item-active .mat-icon, a.mat-list-item.mat-list-item-inactive .mat-icon{
  color: #ffffff;
}