<footer class="av-footer container-full">
    <div class="av-sub-footer container">
        <div class="inner">
            <!-- <div class="av-logo col-md-6">
                <img width="100px" src="{{settings.getAssetsUrl()}}images/logo.png" />
            </div> -->
            <div class="end-tag col-md-12 text-center">
                <a href="" style="pointer-events: none;">&copy; 2020 Avaya Inc. Use of this site indicates you accept the Terms of Use and the Privacy Statement.</a>
            </div>
        </div>
    </div>
</footer>
